.img-icon {
    font-size: 100px;
    opacity: 30%;    
}

ion-avatar {
    width: 200px;
    height: 160px;
    --border-radius: 15px;
    margin: 0 auto;
}

ion-col {
    background-color: #2ed9d9;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }